<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>GMens-test</title>


    <style>
        html,
        body {
            background-color: black;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        #webgl {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: absolute !important;
        }

        h1 {
            font-size: 20px;
            color: aliceblue;
        }

        h2 {
            font-size: 15px;
            color: aliceblue;
        }

        .custom {
            color: white;
        }
    </style>


</head>

<body>

    <!--<div id="earth_div"></div>-->


    <div id="webgl"></div>
    <div class="container">
        <div class="input-field">
            <h1>GMens Testing</h1>
            <h2><%= typeof msg != 'undefined' ? msg : '' %></h2>
        </div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn green">
                    <span>Image</span>
                    <input name="myImage" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate custom" type="text">
                </div>
            </div>
            <div class="input-field">
                <button type="submit" class="btn">Submit</button>
            </div>

        </form>
        <br>
        <img src="<%= typeof imgUrl != 'undefined' ? imgUrl : '' %>" class="responsive-img">
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/three.min.js"></script>
    <script src="/Detector.js"></script>
    <script src="/TrackballControls.js"></script>
    <script src="/earth.js"></script>
</body>

</html>